[submodule "order-service"]
	path = order-service
	url = https://github.com/ngociss/order-service.git
	branch = master
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/ngociss/restaurant-service.git
	branch = main
[submodule "payment-service"]
	path = payment-service
	url = https://github.com/ngociss/payment-service.git
	branch = main
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/ngociss/auth-service.git
	branch = main
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/ngociss/discover-server.git
	branch = master
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/ngociss/api-gateway.git
	branch = master
